@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: 320 até 480px
Celular: de 481 até 768px
Tablet: de 769 até 1024px
Desktop: de 1025 até 1200px
Grandes telas: Acima de 1.201px
*/

@media screen and (min-width: 769px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;   
    }

    main {
        width: 769px;
    }
}